/***************************Tag Selectors***************************/

body
{
  margin: 0;
}

h1
{
  margin: 0;
}


div
{
  background-color: #8fc0a9;
}

/***************************Class Selectors***************************/


/***************************ID Selectors***************************/
